body {
    @apply text-amber-50 text-lg bg-black m-0;
    letter-spacing: 0.025em;
    font-family: mono45-headline,monospace;
    font-weight: 500;
    font-style: normal;
}
a {
    @apply text-lime-300;
    text-decoration-line: none;
    cursor: pointer;
}
.share-link {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

input {
    @apply border border-amber-50 bg-transparent pl-2 rounded-md;
}