body {
    @apply text-amber-50 text-xl bg-black m-0 tracking-wider;
    font-family: BebasNeue-Regular, sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
a {
    @apply text-lime-300;
    text-decoration-line: none;
    cursor: pointer;
}
.share-link {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

input {
    @apply border border-amber-50 bg-transparent pl-2 rounded-md font-bold tracking-widest;
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: local("BebasNeue"), url('~assets/fonts/bebasneue-regular.woff') format('woff');
    font-display: swap;
}
